<div class="container" style="margin: 0 auto;">
  <ng-container *ngIf="inputDynamicFields">
    <h2 class="text-center mt-5">{{titleForm}}</h2>
    <!-- form main -->
    <div class="form-holder">
      <div class="form-content">

        <form [formGroup]="formGroup" (ngSubmit)="onSubmitFormMainClick()" class="requires-validation form-control p-5">

          <ng-container *ngFor="let input of inputDynamicFields">

            <ng-container *ngIf="input.typeInput==='text' && !input.skipMode">
              <!-- type text -->
              <div class="col-md-12">
                <input class="form-control p-2 mt-2" [type]="input.typeInput" [name]="input.nameInput" [id]="input.idInput" [formControlName]="input.nameControl" [placeholder]="input.placeholderInput" required>
              </div>
            </ng-container>

            <ng-container *ngIf="input.typeInput==='number' && !input.skipMode">
              <!-- type number -->
              <div class="col-md-12">
                <input class="form-control p-2 mt-2" [type]="input.typeInput" [name]="input.nameInput" [id]="input.idInput" [formControlName]="input.nameControl" [placeholder]="input.placeholderInput" required>
              </div>
            </ng-container>

            <ng-container *ngIf="input.typeInput==='radio' && input.radioButtonMode && !input.skipMode">
              <!-- type radio -->
              <label class="" style="font-size: 20px; margin-right: 20px" >
                {{input.nameRadiobutton}}
              </label>
              <ng-container *ngFor="let radio of input.dataRadioButton">
                <div class="form-check form-check-inline p-lg-3">
                  <!-- why i can't bind dynamic type on radio button ?? -->
                  <input class="form-check-input" type="radio" [name]="input.nameInput" [id]="input.idInput" [value]="radio.value" [formControlName]="input.nameControl"  required />
                  <label class="form-check-label">{{radio.value}}</label>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="input.typeInput==='checkbox' && input.checkboxMode && !input.skipMode">
              <ng-container *ngFor="let checkbox of input.dataCheckbox">

                <div class="form-check p-lg-3">
                  <!-- why i can't bind dynamic type on radio button ?? -->
                  <input class="form-check-input" type="checkbox" [name]="input.nameInput" [id]="input.idInput" [value]="checkbox.value" [formControlName]="input.nameControl" required/>
                  <label class="form-check-label">{{checkbox.label}}</label>
                </div>
              </ng-container>
            </ng-container>


            <ng-container *ngIf="input.typeInput==='textarea' && !input.skipMode">
              <!-- type number -->
              <div class="col-md-12">
                <textarea class="form-control p-2 mt-2" [name]="input.nameInput" [id]="input.idInput" [placeholder]="input.placeholderInput" [formControlName]="input.nameControl" required></textarea>
              </div>
            </ng-container>
          </ng-container>

          <div class="form-button mt-3">
            <button id="submit" type="submit" class="btn btn-dark p-2" style="margin-right: 10px">Send</button>
            <button id="reset" type="reset" class="btn btn-dark  p-2">Reset</button>
          </div>
        </form>

      </div>
    </div>
  </ng-container>
</div>
